html , body{
    padding: 0;
    margin: 0;

    /*background-color: #adedad;*/
    background: 
    linear-gradient(217deg, #d2eed2, #d0f4d0 70.71%), 
    linear-gradient(127deg, #c0dfc0, #c8f5c8 70.71%),
    linear-gradient(336deg, #ecffec, #d4fbd4 70.71%);
}
p{
    padding: 0;
    margin: 0;
    font-size: 18px;
}
.p {
    padding-top: 5px;
    padding-bottom: 5px;

}
.a1 {
    text-decoration: none;
    color: #252525
}
.a2 {
    text-decoration: none;
    color: #ffffff
}

.head_1 {
    color: #252525;
}

.head {
    width: 800px;
    margin: auto;
    padding: 20px; 
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.head_1_VID {
    width: auto;
    display: flex;
}
.gerb {
    width: 200px;
    height: auto;
}
.head_2 {
    width: 200px;
}
.head_3 {
    width: 100%;
    border-left: 0.2px solid #5c5c5c;
}
.head_2_1 {
    height: auto;
    margin: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-bottom: 15px;
}
.head_2_3 {
    width: 170px;
    border-bottom: 0.2px solid #5c5c5c;
    margin-left: 15px;
    margin-right: 15px;
}
.head_2_2 {
    height: auto;
    margin: 1px;
    padding: 2px 2px;
    margin: 1px 6px 1px 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head_2_2:hover {
    background-color: #cffacf;
}
.head_3_1 {
    height: 100px;
    margin: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.head_3_3 {
    width: 800px;
    position: center;
    border-bottom: 0.2px solid #5c5c5c;
    margin: auto;
}
.head_3_2 {
    height: 500px;
    margin: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}
.head_3_4 {
    height: 50px;
    margin: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sait {
    display: flex;
    flex-direction: column;

}
.citata {
    padding-left: 15px;
    border-left: 3px solid rgb(8, 5, 0);
}
.podval {
    width: 100%;
    height: 300px;
    background-image: url(Podval.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.8;
}
.text_down {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0px 100px 0px 100px;
    padding-top: 100px;
}
.podval_text {
    padding: 2px;
}

.table1 {
    width: 399px;
    display: flex;
    justify-content: center;
    border: 0.1px solid #5c5c5c;
}
.table3 {
    display: flex;

}
.file {
    border: 0.2px solid #5c5c5c;
    padding: -2px;
}


/* КАРТИНКИ */
.img2 {
    width: 264px;
    height: 148px;
}
.imgborder {
    border: #252525 1px solid;
}

.fleximg1 {
    display: flex;
    height: 149px;
}
.fleximg2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    background-color: #252525;
    height: 450px;
}


.image-1 {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 800px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: auto;
}
.image-2 {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 800px;
    display: flex;
    justify-content: center;
    margin: auto;

}

.img-3 {
    cursor: pointer;
    height: 150px;
    padding: 3px;
    
}
.height {
    height: 200px;
}

.img-1-1 {
    cursor: pointer;
    height: 85px;
    padding: 3px;
    
}
.img-1-2 {
    cursor: pointer;
    height: 160px;
    padding: 3px; 
}
.img-4-1 {
    width: 800px;
    height: auto;
}
.img-4-2 {
    height: 750px;
}
.img-4-3 {
    height: 520px;
}
.img-4-4 {
    width: 395px;
}
.img-4-5 {
    width: 800px;
}
.img-4-6 {
    height: 350px;
}
.img-4-7 {
    height: 250px;
}
.img-4-8 {
    height: 410px;
}
.otstup {
    padding-top: 25px;
}
a {
    text-decoration: none;
}

.bok {
    width: 50px;
    height: 500px;
    text-decoration: none;
    font-size: 50px;
    display: flex;
    align-items: center;
}
.bok2 {
    height: 50px;
    width: auto;
    font-size: 50px;
}
.bok:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.images{
    width:auto;
    display: flex;
}
.images2 {
    display: flex;
    width: auto;
}
.images-1 {
    height: 500px;
    margin: 10px;
}
.close {
    float: right;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    text-decoration: none;
}
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.75;
}
.img-1_modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* фон */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img-1_modal:target {
    opacity: 1; /* делаем окно видимым */
    pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
.img-1_modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.img-1_modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-image: url("png.jpeg");
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    background-color: rgb(138, 138, 138);
    border-radius: 0.3rem;
    outline: 0;
}
.close1 {
    cursor: pointer;
}

